server:
  port: 3344

spring:
  application:
    name: cloud-config-center
  cloud:
    config:
      server:
        git:
          uri: https://github.com/GitEmail/spring-cloud-2020.git
          search-paths:
            - /cloud-config-center3344/src/main/resources/
          username: GitEmail
          password: Lin52888
      label: master
eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.org:7001/eureka